body {
    font-family: Arial, sans-serif;
    background-color: turquoise;
    background-image: url(painter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; /* Center align text within the body */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Add margin at the bottom of h1 */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add margin at the top of the form */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 10px;
}
