body {
    font-family: 'Arial', sans-serif;
    background-color: turquoise;
    color: #333;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form horizontally */
    flex-direction: column;
    height: 100vh;
    background-image: url(pebble.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    max-width: 300px; /* Adjusted max-width to shrink the form */
    margin-top: 210px; /* Adjusted margin-top to increase the space */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    width: calc(100% - 20px); /* Adjusted width to account for padding and border */
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px; /* Adjusted margin for labels */
}

/* Unique styling for the element with ID "firstName" */
#firstName {
    margin-top: 20px; /* Adjusted margin-top to provide space */
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Adjusted width for text input fields */
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #800080;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #6a006a;
}

a {
    color: #800080;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.fa-solid.fa-lock {
    margin-right: 20px;
}

input[type="password"] {
    flex: 5px; 
}

.phone{
    display: flex;
    align-items: center;
}

.fa-solid fa-phone{
    margin-right: 10px;

}
input[type="tel"] {
    flex: 1; 
    padding-left: 5px;
}
